.tracks-section {
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 57px;

    .section-title {
        font-size: 24px;
    }

    .tracks-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .track-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        max-width: 740px;
        max-height: 32px;
        height: 100%;
        padding: 9px 15px;
        align-items: center;
        gap: 15px;
        box-sizing: content-box;
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    .track-image {
        min-height: 32px;
        max-height: 32px;
        min-width: 32px;
        max-width: 32px;
    }

    .track-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 15px;
        .track-name {
            max-width: 320px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;  
        }
        .track-artist {
            max-width: 213px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    
}

.no-results {
    font-size: 16px;
}